.button {
  /* width: 300px; */
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #f12711,
    #f5af19,
    #f12711,
    #f5af19
  );
  box-shadow: 0 4px 15px 0 rgba(252, 104, 109, 0.336);
}

[data-color="blue"] {
  background-image: linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #667db6,
    #0082c8
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.11);
}
[data-color="yellow"] {
  background-image: linear-gradient(
    to right,
    #1900f8,
    #002774,
    #1900f8,
    #002b80
  );
  box-shadow: 0 4px 15px 0 rgba(3, 19, 167, 0.308);
}

[data-color="line"] {
  background: transparent;
  box-shadow: none;
  border: 2px solid var(--color-text-white);
  padding: 0.5rem 2rem;
  width: fit-content;
  align-self: center;
}

.button:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

[data-button="disabled"] {
  opacity: 0.5;
}
