.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1400px;
  max-width: 90%;
  margin: 0 auto;
}

.boxInfo {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.boxInfo li {
  flex: 1 1 33%;
  background: var(--bg-gradient);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  border-radius: 1rem;
  border: var(--color-border);
}

.boxInfo li h3 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 0.75rem;
}

.boxInfo li strong {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.boxInfo li .tag,
.boxInfo li .tag2 {
  padding: 0.5rem 1rem;
  background-color: var(--color-2);
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxInfo li .tag2 {
  background-color: var(--color-3);
  margin-bottom: 0.5rem;
}

.boxInfo li span {
  color: var(--color-text-gray);
}

.boxes {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  width: 100%;
}

.box {
  flex: 1;
  max-width: 100%;
  background: var(--bg-gradient);
  padding: 1.5rem;
  border-radius: 1rem;
  border: var(--color-border);
  height: fit-content;
}

.box h2 {
  text-align: center;
}

.box h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.box p {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  max-width: 700px;
}

.box strong {
  display: inline-block;
  /* margin-bottom: 0.5rem; */
}

.box ul {
  padding-left: 1.5rem;
  max-width: 700px;
}

.box ul li {
  margin-bottom: 0.5rem;
}

.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  gap: 1.5rem;
}

.shop strong {
  display: block;
  margin-top: 1rem;
  /* margin: 1rem 0; */
  font-size: 2rem;
}

.shop span {
  font-size: 0.8rem;
  text-align: center;
}

.shop strong span {
  font-size: 1rem;
  color: #cecece;
}

.shop .link {
  color: #cecece;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1270px) {
  .boxes {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .box h3 {
    font-size: 0.9rem;
  }
}
