.container {
  background-color: var(--color-primary);
  position: relative;
  margin-bottom: 370px;
}

.background {
  position: relative;
}

.bgDesktop {
  -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
}

.bgDesktop {
  margin-top: 50px;
}

.bgMobile {
  display: none;
}

.content {
  width: 100%;
  z-index: 1;
  position: absolute;
  bottom: -400px;
  text-align: center;
}

.logo {
  width: 400px;
  max-width: 90%;
  margin-bottom: 1rem;
  padding-top: 3rem;
}

.text {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1rem 3rem 1rem;
}

.text h1 {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: clamp(1.6rem, 3.2vw, 2rem);
  line-height: 1.35;
  color: var(--color-text-white);
}

.text p {
  font-size: 1.1rem;
}

.buttons {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.text span {
  font-style: italic;
  color: var(--color-text-light);
  font-size: 0.95rem;
}

@media (max-width: 870px) {
  .container {
    margin-bottom: 370px;
    margin-top: 50px;
  }
  .bgDesktop {
    display: none;
  }

  .bgMobile {
    display: flex;
    height: 100dvh;
    object-fit: cover;
  }

  .content {
    bottom: -355px;
    background-color: var(--color-1);
  }
}

@media (max-width: 570px) {
  .container {
    margin-bottom: 500px;
  }

  .content {
    bottom: -450px;
  }
  .text h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .text p {
    margin-bottom: 1.5rem;
  }
}
