.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
  padding: 4rem 1rem;
  color: var(--color-text-black);
  position: relative;
  z-index: 2;
}

.backgroundOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    var(--bg-transparent-white),
    var(--bg-transparent-white)
  );
  /* url("../../../assets/imgs/stands/img-3.jpeg"); */
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  opacity: 0.9;
  z-index: -1;

  /* Efeito parallax */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid var(--primary-color);
}

.title {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.subtitleMain {
  text-align: center;
  padding: 0.5rem 1.5rem;
  max-width: 800px;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  border-radius: 1rem;
  background-color: var(--bg-transparent-blue);
  color: var(--color-text-white);
}

.subtitle {
  text-align: center;
  padding: 0 1rem;
  max-width: 800px;
  margin-bottom: 1rem;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  max-width: 95%;
  gap: 2rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80%;
  overflow: hidden;
  padding: 1.5rem;
  margin: 0 auto;
  text-align: center;
  line-height: 150%;
  background: var(--bg-transparent-blue);
  border-radius: 1rem;
  border: var(--border-black);
}

.box svg {
  font-size: 3rem;
  color: var(--color-accent);
}

.box h4 {
  max-width: 95%;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  line-height: 120%;
  color: var(--color-text-white);
}

.box p {
  font-size: 0.9rem;
  overflow-y: scroll;
  color: var(--bg-transparent-white);
}

.borderLeft {
  border-left: dashed 2px #5f476b;
}

@media (max-width: 600px) {
  .box h3 {
    width: 100%;
    font-size: 1.3rem;
    margin: 1rem 0;
  }
}

@media (max-width: 450px) {
  .box p {
    font-size: 0.95rem;
  }
}
