.containerBoxes {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.boxes {
  width: 1200px;
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90%;
  gap: 1rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  line-height: 150%;
  background: var(--bg-gradient);
  border-radius: 1rem;
  border: 2px solid var(--color-border);
}

.box img {
  width: 30%;
}

.box h3 {
  max-width: 95%;
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem 0;
  line-height: 120%;
}

/* .box p::-webkit-scrollbar,
.firstBox p::-webkit-scrollbar {
  display: none;
} */

.borderLeft {
  border-left: dashed 2px #5f476b;
}

@media (max-width: 600px) {
  .box h3 {
    width: 100%;
    font-size: 1.3rem;
    margin: 1rem 0;
  }
}

@media (max-width: 450px) {
  .box {
    border-radius: 0rem;
  }
  .box p {
    font-size: 0.95rem;
  }
}
