.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.timer {
  display: flex;
  justify-content: center;
}

.timer > span {
  font-size: 2rem;
  opacity: 0.5;
  padding: 0 10px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item h3 {
  font-size: 2rem;
  background-color: var(--color-primary);
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  color: var(--color-text-white);
  border: var(--border-white);
}

.item span {
  font-size: 0.7rem;
}

@media (max-width: 500px) {
  .item h3 {
    font-size: 2rem;
  }
}
