.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.containerContent {
  width: 100%;
  background: var(--bg-gradient);
  border-top: 2px solid var(--color-border);
  border-bottom: 2px solid var(--color-border);
  padding: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.containerContent h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  font-size: 2.2rem;
}

.content p {
  width: 500px;
  max-width: 90%;
  text-align: center;
  line-height: 150%;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 720px) {
  .buttons {
    flex-direction: column-reverse;
  }

  .container {
    margin-top: 4rem;
  }

  .containerContent h2 {
    font-size: 1.7rem;
  }
}
