.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerContent {
  width: 1200px;
  max-width: 90%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content p {
  width: 500px;
  max-width: 90%;
  text-align: center;
  line-height: 150%;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 720px) {
  .buttons {
    flex-direction: column-reverse;
  }
}
