@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

.highlightFont {
  font-family: "Archivo Black", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 3.5rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  text-align: center;
}

.section {
  background-color: #000000ce;
  background: linear-gradient(to bottom, #001236e7, #000008e0, #000000f3);
  /* background-color: var(--color-primary); */
  position: relative;
  height: 100vh;
  min-height: 100vh;
  margin-top: 49px;
  z-index: 2;
  overflow: hidden;
}

.container {
  width: 1400px;
  max-width: 100%;
  min-height: 100dvh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  position: relative;
  overflow: hidden;
}

.content {
  width: 100%;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 2;
  margin-top: -49px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 350px;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 100%;
}

.text {
  color: var(--color-text-light);
  margin-bottom: 1rem;
  display: flex;
  width: 850px;
  max-width: 100%;
  flex-direction: column;
  font-family: "Archivo Black", sans-serif;
}

.subtitle {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.subtitle strong {
  /* color: var(--color-accent); */
  color: #000bac;
}

.highlight {
  background-color: var(--bg-transparent-white);
  color: var(--color-primary);
  border: var(--border);
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
  width: fit-content;
  align-self: center;
  margin-bottom: 0.5rem;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.countdown span {
  font-size: 0.9rem;
  text-align: center;
  display: block;
  margin-bottom: 0.5rem;
}

.buttons {
  max-width: 600px;
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lineRight,
.lineLeft {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
}

.lineRight {
  top: 0;
  right: -1700px;
  left: 680px;
  transform: rotate(-35deg);
}

.lineLeft {
  top: 0;
  left: -500px;
  transform: rotate(-35deg);
}

@media (max-width: 1000px) {
  .section {
    margin-top: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content {
    width: 100%;
    padding: 1.5rem;
    margin-top: 0;
  }

  .logo {
    margin-bottom: 0.5rem;
  }

  .logo img {
    width: 100%;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
  }

  .subtitle {
    font-size: 1.8rem;
    text-align: center;
  }

  .highlight {
    /* background-color: transparent; */
    text-align: center;
    /* padding: 0; */
    font-size: 0.7rem;
    /* color: var(--color-text-light); */
    display: flex;
    gap: 0.5rem;
  }

  /* .highlightMobile {
    background-color: var(--bg-transparent-white);
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    font-size: 0.9rem;
  } */

  .buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  .image {
    display: none;
  }

  .backgroundOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    opacity: 0.9;
    z-index: -1;

    /* Efeito parallax */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--primary-color);
  }

  .lineLeft {
    display: none;
  }

  .lineRight {
    display: none;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 250px;
  }
  .highlightFont {
    font-size: 1.8rem;
  }
  .subtitle {
    font-size: 1.4rem;
  }

  .highlight {
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .highlightMobile {
    background-color: var(--bg-transparent-white);
    padding: 0.2rem 1rem;
    border-radius: 20px;
  }

  .divider {
    display: none;
  }
}
