.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  height: 130px;
  background-color: #00000075;
}

.box p {
  color: var(--color-text-gray);
}

.create {
  font-size: 0.7rem;
}

.create a {
  color: var(--color-text);
}
