.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxImg {
  width: 1200px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 2rem;
  border: 2px solid var(--color-2);
  padding: 2rem 1rem;
  background: linear-gradient(to top, #00a2ff59, var(--color-1));
}

.boxImg img {
  width: 80%;
}
