.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxImg {
  width: 1200px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 1rem;
  border: 2px solid var(--color-border);
  padding: 2rem 1rem;
  background: var(--bg-gradient);
}

.boxImg img {
  width: 80%;
}
