.container {
  width: 100%;
  margin: auto 0;
  background: linear-gradient(to top, #00a2ff59, var(--color-1));
  padding: 1rem;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.item {
  width: 47%;
  display: flex;
  align-items: flex-start;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.item p {
  align-items: center;
  flex: 1;
}

.item svg {
  width: 30px;
  color: var(--color-2);
  margin-top: 0.3rem;
}

@media (max-width: 780px) {
  .container {
    flex-direction: column;
  }

  .item {
    width: 100%;
    border: 0;
    padding: 0.3rem;
    gap: 0.2rem;
  }

  .item svg {
    margin-top: 0.3rem;
  }
}
