.section {
  padding: 4rem 0;
  position: relative;
  z-index: 2;
  background: var(--bg-white);
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  width: 1400px;
  max-width: 90%;
  margin: 0 auto;
  border-radius: 1rem;
}

.ballonWhatsapp {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background: transparent;
  color: var(--color-text-black);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  background-color: #fff;
}

.ballonWhatsapp > svg {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: var(--color-primary);
}

.ballonWhatsapp h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-primary);
}

.ballonWhatsapp p {
  display: block;
  margin-bottom: 1rem;
}

.questions {
  flex: 1;
  list-style: none;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
  border-radius: 1rem;
  background-color: #fff;
}

.questions li {
  border-bottom: var(--border-black);
  padding: 0.5rem;
}

.questions li:last-child {
  border-bottom: 0;
}

.questions li button {
  background-color: transparent;
  color: var(--color-primary);
  border: 0;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 0.5rem;
  text-align: start;
}

.questions li:hover {
  background-color: #94a7ff23;
}

.questions li .text {
  padding: 0.5rem;
}

.questions li p {
  color: var(--color-text-black);
}

.questions li .text ul {
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--color-text-black);
}

@media (max-width: 1090px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .questions {
    width: 100%;
  }
}
