.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxes {
  width: 1200px;
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 450px) {
  .boxes {
    gap: 2.5rem;
  }
  .box {
    width: 150px;
    height: 150px;
  }
}
